body{
  background-color:rgb(13, 23, 54)
}

.gallery{
  display: flex;
  flex-direction: column;
  gap: 130px;
}

h3{
  margin: 0 0 20px
}

.card{
  background-color:aliceblue;
  border: 1px solid;
  padding: 40px;
  width: 50%;
  aspect-ratio: 1;
}


